In [1]:
import pandas as pd
import numpy as np

In [2]:
def load_csv(file_path, converters):
    df = pd.read_csv(file_path, converters=converters, index_col=False, encoding='utf-8')
    return df

In [3]:
train_id = load_csv('../ccf_data/entprise_info.csv', converters={})

In [4]:
base_info = load_csv('../ccf_data/base_info.csv', converters={'oplocdistrict': str, 'enttype': str, 'enttypegb': str,
                                                              'state': str, 'orgid': str, 'jobid': str, 'adbusign': str,
                                                              'townsign': str, 'regtype': str})

## base info

In [5]:
# 行业细类代码 规范化成离散型变量
base_info['industryco'].fillna(-1, inplace=True)
base_info['industryco'] = base_info['industryco'].astype('int')
base_info['industryco'] = base_info['industryco'].astype('str')

In [6]:
# 企业类型小类 规范化成离散型变量
base_info['enttypeitem'].fillna(-1, inplace=True)
base_info['enttypeitem'] = base_info['enttypeitem'].astype('int')
base_info['enttypeitem'] = base_info['enttypeitem'].astype('str')

In [7]:
# 从业人数 规范化连续变量
base_info['empnum'].fillna(-1, inplace=True)
base_info['empnum'] = base_info['empnum'].astype('int')

In [8]:
# 组织形式 规范化成离散型变量
base_info['compform'].fillna(-1, inplace=True)
base_info['compform'] = base_info['compform'].astype('int')
base_info['compform'] = base_info['compform'].astype('str')

In [9]:
# 合伙人人数 规范化连续变量
base_info['parnum'].fillna(-1, inplace=True)
base_info['parnum'] = base_info['parnum'].astype('int')

In [10]:
# 执行人数人数 规范化连续变量
base_info['exenum'].fillna(-1, inplace=True)
base_info['exenum'] = base_info['exenum'].astype('int')

In [11]:
# 风险行业 规范化成离散型变量
base_info['venind'].fillna(-1, inplace=True)
base_info['venind'] = base_info['venind'].astype('int')
base_info['venind'] = base_info['venind'].astype('str')

In [12]:
# 企业类型细类 规范化成离散型变量
base_info['enttypeminu'].fillna(-1, inplace=True)
base_info['enttypeminu'] = base_info['enttypeminu'].astype('int')
base_info['enttypeminu'] = base_info['enttypeminu'].astype('str')

In [13]:
# 项目类型 规范化成离散型变量
base_info['protype'].fillna(-1, inplace=True)
base_info['protype'] = base_info['protype'].astype('int')
base_info['protype'] = base_info['protype'].astype('str')

In [14]:
# 多种注册资本金额赋值为-1
cols = ['regcap', 'reccap', 'forreccap', 'forregcap', 'congro']
for col in cols:
    base_info[col].fillna(-1, inplace=True)

In [15]:
base_info.dtypes

id                object
oplocdistrict     object
industryphy       object
industryco        object
dom               object
opscope           object
enttype           object
enttypeitem       object
opfrom            object
opto              object
state             object
orgid             object
jobid             object
adbusign          object
townsign          object
regtype           object
empnum             int32
compform          object
parnum             int32
exenum             int32
opform            object
ptbusscope       float64
venind            object
enttypeminu       object
midpreindcode    float64
protype           object
oploc             object
regcap           float64
reccap           float64
forreccap        float64
forregcap        float64
congro           float64
enttypegb         object
dtype: object

In [16]:
# 去除空值列
drop_list = ['opform','ptbusscope','midpreindcode']

for col in drop_list:
    del base_info[col]

In [17]:
base_info.columns

Index(['id', 'oplocdistrict', 'industryphy', 'industryco', 'dom', 'opscope',
       'enttype', 'enttypeitem', 'opfrom', 'opto', 'state', 'orgid', 'jobid',
       'adbusign', 'townsign', 'regtype', 'empnum', 'compform', 'parnum',
       'exenum', 'venind', 'enttypeminu', 'protype', 'oploc', 'regcap',
       'reccap', 'forreccap', 'forregcap', 'congro', 'enttypegb'],
      dtype='object')

In [18]:
base_info.to_csv('../code/fea_explore/base_info.csv', index=False)

## 根据标签探索非法集资风险特征

In [19]:
base_info.columns

Index(['id', 'oplocdistrict', 'industryphy', 'industryco', 'dom', 'opscope',
       'enttype', 'enttypeitem', 'opfrom', 'opto', 'state', 'orgid', 'jobid',
       'adbusign', 'townsign', 'regtype', 'empnum', 'compform', 'parnum',
       'exenum', 'venind', 'enttypeminu', 'protype', 'oploc', 'regcap',
       'reccap', 'forreccap', 'forregcap', 'congro', 'enttypegb'],
      dtype='object')

In [20]:
train_dataset = pd.merge(train_id, base_info, on=['id'], how='left')

In [21]:
train_dataset.columns

Index(['id', 'label', 'oplocdistrict', 'industryphy', 'industryco', 'dom',
       'opscope', 'enttype', 'enttypeitem', 'opfrom', 'opto', 'state', 'orgid',
       'jobid', 'adbusign', 'townsign', 'regtype', 'empnum', 'compform',
       'parnum', 'exenum', 'venind', 'enttypeminu', 'protype', 'oploc',
       'regcap', 'reccap', 'forreccap', 'forregcap', 'congro', 'enttypegb'],
      dtype='object')

In [22]:
train_dataset.groupby('label')['parnum'].value_counts()

label  parnum
0      -1        12758
        2          549
        1          399
        3          108
        4           28
                 ...
1       25           1
        35           1
        43           1
        45           1
        46           1
Name: parnum, Length: 66, dtype: int64

## other info

In [23]:
other_info = load_csv('../ccf_data/other_info.csv', converters={'id': str})

In [24]:
other_info

,id,legal_judgment_num,brand_num,patent_num
0,f000950527a6feb6d340f91da09e61347d8200cd2f0d1602,4.0,NaN,NaN
1,f000950527a6feb608dd9322b74a99f60851207f36a3c94c,1.0,NaN,NaN
2,d8071a739aa75a3b9f23966f8dae78fd226c272515b9c255,2.0,NaN,NaN
3,216bd2aaf4d079242209b1496f81a36c7abed9dd0bb65ed3,NaN,1.0,NaN
4,e9f7b28ec10e0470de9631c789f49acdd4e7cf9ed6db094b,NaN,2.0,NaN
...,...,...,...,...
1885,47645761dc56bb8cf147c0f51d60cfe28fd995aaca7693d9,6.0,NaN,NaN
1886,f000950527a6feb69ea351e48351a711fb09bf1b83f04dfc,1.0,NaN,NaN
1887,d8071a739aa75a3b39130af3718b2f261b57833a6a58ba55,2.0,1.0,NaN
1888,d8071a739aa75a3b6860158ec0cc8ba7972fb14ba37b9e0a,1.0,NaN,NaN
1889,f000950527a6feb6de489447885cd6d18f593ec2674174ac,40.0,NaN,NaN

In [25]:
convert_col = ['legal_judgment_num', 'brand_num', 'patent_num' ]

In [26]:
for col in convert_col:
    other_info[col].fillna(-1, inplace=True)
    other_info[col] = other_info[col].astype('float64')

In [27]:
other_info.dtypes

id                     object
legal_judgment_num    float64
brand_num             float64
patent_num            float64
dtype: object

#### 发现重复项

In [28]:
isDuplicated = other_info.duplicated('id')
print(other_info[other_info.duplicated('id')])

                                                    id  legal_judgment_num  \
836   e9f7b28ec10e04707ba878b89e6c2d362b107a817342f9c6                12.0
1120  f000950527a6feb63702b1f6c1dabe5ea196d320bbbff425                27.0

      brand_num  patent_num
836         9.0         8.0
1120       70.0        77.0

In [29]:
other_info[other_info['id'].isin(['e9f7b28ec10e04707ba878b89e6c2d362b107a817342f9c6', 'f000950527a6feb63702b1f6c1dabe5ea196d320bbbff425'])]

,id,legal_judgment_num,brand_num,patent_num
835,e9f7b28ec10e04707ba878b89e6c2d362b107a817342f9c6,2.0,9.0,8.0
836,e9f7b28ec10e04707ba878b89e6c2d362b107a817342f9c6,12.0,9.0,8.0
1119,f000950527a6feb63702b1f6c1dabe5ea196d320bbbff425,27.0,68.0,77.0
1120,f000950527a6feb63702b1f6c1dabe5ea196d320bbbff425,27.0,70.0,77.0

In [30]:
## 经观察，发现后一条的数据更可信
other_info.drop_duplicates('id', keep='last', inplace=True)

In [31]:
other_info[other_info['id'].isin(['e9f7b28ec10e04707ba878b89e6c2d362b107a817342f9c6', 'f000950527a6feb63702b1f6c1dabe5ea196d320bbbff425'])]

,id,legal_judgment_num,brand_num,patent_num
836,e9f7b28ec10e04707ba878b89e6c2d362b107a817342f9c6,12.0,9.0,8.0
1120,f000950527a6feb63702b1f6c1dabe5ea196d320bbbff425,27.0,70.0,77.0

In [32]:
other_info.to_csv('../code/fea_explore/other_info.csv', index=False)

## news info

In [33]:
news_info = load_csv('../ccf_data/news_info.csv', converters={'id': str})

In [34]:
news_info

,id,positive_negtive,public_date
0,f000950527a6feb62669d6a175fe6fdccd1eb4f7ca8e5016,积极,2016-12-30
1,f000950527a6feb6e8bd9919e2ca363359bcfa997a0f9de7,中立,2017-08-09
2,f000950527a6feb6e8bd9919e2ca363359bcfa997a0f9de7,消极,2016-02-29
3,d8071a739aa75a3bcf6fb0041ee883243251d30025ab9d45,中立,2018-06-08
4,f000950527a6feb6d71de3382afa0bc5ff87bb65477f698a,积极,2015-06-29
...,...,...,...
10513,d8071a739aa75a3b6860158ec0cc8ba7972fb14ba37b9e0a,中立,2013-12-25
10514,d8071a739aa75a3b6860158ec0cc8ba7972fb14ba37b9e0a,积极,2013-12-23
10515,f000950527a6feb6de489447885cd6d18f593ec2674174ac,中立,2020-04-07
10516,f000950527a6feb6de489447885cd6d18f593ec2674174ac,中立,2020-02-21
10517,f000950527a6feb6de489447885cd6d18f593ec2674174ac,消极,2018-12-13

In [35]:
news_info['positive_negtive'].value_counts()

积极    5350
中立    4133
消极    1035
Name: positive_negtive, dtype: int64

In [36]:
# 新闻的积极与消极是有时间序列的 可以间接反映是否有逐渐变好或者逐渐变坏的趋势
# 有几点思路 1. 某个企业的新闻数量 2. 某个企业的新闻态度变化趋势

### 计算新闻总数量

In [37]:
df = pd.DataFrame(news_info.groupby('id')['positive_negtive'].count())

In [38]:
df_sum = df.reset_index()
df_sum = df.rename(columns={'positive_negtive':'news_sum'})

### 计算积极新闻数量

In [39]:
df = news_info[news_info['positive_negtive'].isin(['积极'])]

In [40]:
df = pd.DataFrame(df.groupby('id')['positive_negtive'].count())

In [41]:
df_pos = df.reset_index()
df_pos = df.rename(columns={'positive_negtive':'news_pos_sum'})

### 计算中立新闻数量

In [42]:
df = news_info[news_info['positive_negtive'].isin(['中立'])]

In [43]:
df = pd.DataFrame(df.groupby('id')['positive_negtive'].count())

In [44]:
df_mid = df.reset_index()
df_mid = df.rename(columns={'positive_negtive':'news_mid_sum'})

### 计算消极新闻数量

In [45]:
df = news_info[news_info['positive_negtive'].isin(['消极'])]

In [46]:
df = pd.DataFrame(df.groupby('id')['positive_negtive'].count())

In [47]:
df_neg = df.reset_index()
df_neg = df.rename(columns={'positive_negtive':'news_neg_sum'})

### 合并新闻数量特征

In [48]:
from functools import reduce
dfs = [df_sum, df_pos, df_mid, df_neg]
df_new_info = reduce(lambda left, right: pd.merge(left, right, on=['id'], how='left'), dfs)

In [49]:
df_new_info.fillna(0, inplace=True)

In [50]:
df_new_info.reset_index()

,id,news_sum,news_pos_sum,news_mid_sum,news_neg_sum
0,09912c34159b1720558a419983a989f1dd2e0ed69a044ca3,6,0.0,6.0,0.0
1,175ebe5f059ec050afbd65251ecdd3b512bfbe5e62d041b0,7,4.0,3.0,0.0
2,216bd2aaf4d079240c3ac0b76f0ef4aa355d443880ba78db,3,2.0,1.0,0.0
3,216bd2aaf4d079240f5823e63d24b44dd2c58e3281b822f6,2,0.0,2.0,0.0
4,216bd2aaf4d0792410725ba5e7ca1dc32ce55767372f2030,1,0.0,0.0,1.0
...,...,...,...,...,...
922,f000950527a6feb6fddefb42e3c3dc1932fc8c5fae14afbb,1,0.0,1.0,0.0
923,f000950527a6feb6fe8f4850e9eb04e8ba3fa3b409725ef3,9,7.0,2.0,0.0
924,f000950527a6feb6ff749dc50c7bf46b37b74e36ce38d1a4,1,0.0,0.0,1.0
925,f000950527a6feb6ff7cdb55f5e64a477c499dd75137ae6b,2,2.0,0.0,0.0
926,f000950527a6feb6ff839cdf509ebb7631857e6e363fedd6,2,0.0,1.0,1.0

In [51]:
df_new_info.columns

Index(['news_sum', 'news_pos_sum', 'news_mid_sum', 'news_neg_sum'], dtype='object')

In [52]:
df_new_info.dtypes

news_sum          int64
news_pos_sum    float64
news_mid_sum    float64
news_neg_sum    float64
dtype: object

In [53]:
col_list = ['news_sum', 'news_pos_sum', 'news_mid_sum', 'news_neg_sum']
for col in col_list:
    df_new_info[col] = df_new_info[col].astype('int')

In [54]:
df_new_info.dtypes

news_sum        int32
news_pos_sum    int32
news_mid_sum    int32
news_neg_sum    int32
dtype: object

In [55]:
df_new_info.to_csv('../code/fea_explore/news_info.csv')

In [56]:
news_info.sort_values('public_date', ascending=True).groupby('id').head(10)

,id,positive_negtive,public_date
1540,d8071a739aa75a3bb574df9edeb7d152892dc454f3195d2f,中立,14小时前
3887,f000950527a6feb6b1cedd99a67ea0c20a3ce2ca11761489,消极,1小时前
2650,d8071a739aa75a3ba99a596dc0205f927299cb05923e1c47,中立,2002-08-24
8824,f000950527a6feb674725f9f9f10e1e248caae28c793b606,中立,2003-03-08
8823,f000950527a6feb674725f9f9f10e1e248caae28c793b606,积极,2003-03-27
...,...,...,...
1157,47645761dc56bb8ccd2ea9ad513cc24944f45fd4617f1962,积极,2020-09-08
2173,f000950527a6feb60a1c44d64d8bc8d99a38b6614080ef0f,中立,2020-09-08
4556,e9f7b28ec10e047014fe828fdb7abdda95e44ba69de67315,积极,2020-09-08
108,59b38c56de38368316087c2ad693bc4b485f695d231f7fa4,中立,2020-09-08
1033,f000950527a6feb6bc5d81f4b5b017d5a93a9096d0245eb1,消极,4小时前

## change info

In [57]:
change_info = load_csv('../ccf_data/change_info.csv', converters={'id': str, 'bgxmdm': str})

In [58]:
change_info.columns

Index(['id', 'bgxmdm', 'bgq', 'bgh', 'bgrq'], dtype='object')

In [59]:
change_info.head()

,id,bgxmdm,bgq,bgh,bgrq
0,9c7fa510616a683058ce97d0bc768a621cd85ab1e87da2a3,939.0,9dec12da51cdb672a91b4a8ae0e0895f7bfeb243dfa3e0c8,9dec12da51cdb672a91b4a8ae0e0895f4a56cbe3deca98...,2.019060e+13
1,9c7fa510616a683058ce97d0bc768a621cd85ab1e87da2a3,112.0,31487d8f256f16bd6244b7251be2ebb27b17bdfd95c8f3...,31487d8f256f16bd6244b7251be2ebb27b17bdfd95c8f3...,2.019060e+13
2,e9f7b28ec10e047000d16ab79e1b5e6da434a1697cce7818,111.0,54ca436ffb87f24c820178b45fcc3a7b,f80e3376abcf81ad2a279d6d99046153,2.017013e+13
3,e9f7b28ec10e047000d16ab79e1b5e6da434a1697cce7818,128.0,f1fdb1c866dc96638cbfb8b788b91393,1eca8a0d8beca58d988f7dccab5dc868,2.017013e+13
4,e9f7b28ec10e047000d16ab79e1b5e6da434a1697cce7818,925.0,54ca436ffb87f24c820178b45fcc3a7b,f80e3376abcf81ad2a279d6d99046153,2.017013e+13

In [60]:
change_info.groupby('id').count()

                                                  bgxmdm  bgq  bgh  bgrq
id
09912c34159b1720558a419983a989f1dd2e0ed69a044ca3       9    9    9     9
0ba26b418aa50d3c35e3d01d414b2c9f07efa6997fbf4394       5    5    5     5
175ebe5f059ec05007223e9af0a48b885f4cbfa833d93eed      11   11   11    11
175ebe5f059ec05036d901021be6da41057ae3ee1fe6b8bb      15   15   15    15
175ebe5f059ec0503eb86987a7b6da7c40c6e69d5b54736f       2    2    2     2
...                                                  ...  ...  ...   ...
f1c1045b13d18329fff6b6c261a696a54cc111b991a55a72       1    1    1     1
f6eb47aa168d4141ebdc3e35a7b37a3cb15baa8608f730a0       2    2    2     2
ff2c78b9022767a53da2e5a811e4aa9583e32efc9899f9f3       2    2    2     2
ff2c78b9022767a5439dae566c7603a03a6178241dacf5c9      13   13   13    13
ff2c78b9022767a583c0800a3f450666162ea0e4566cfd19      22   22   22    22

[8726 rows x 4 columns]

In [61]:
df = pd.DataFrame(change_info.groupby('id').count())

In [62]:
df = df['bgxmdm'].reset_index()

In [63]:
df.columns = ['id', 'bgsum']

In [64]:
df.to_csv('../code/fea_explore/change_info.csv', index=False)

## annual_report_info

In [92]:
annual_report_info = load_csv('../ccf_data/annual_report_info.csv', converters={'id': str})

In [93]:
annual_report_info.columns

Index(['id', 'ANCHEYEAR', 'STATE', 'FUNDAM', 'MEMNUM', 'FARNUM',
       'ANNNEWMEMNUM', 'ANNREDMEMNUM', 'EMPNUM', 'EMPNUMSIGN', 'BUSSTNAME',
       'COLGRANUM', 'RETSOLNUM', 'DISPERNUM', 'UNENUM', 'COLEMPLNUM',
       'RETEMPLNUM', 'DISEMPLNUM', 'UNEEMPLNUM', 'WEBSITSIGN', 'FORINVESTSIGN',
       'STOCKTRANSIGN', 'PUBSTATE'],
      dtype='object')

In [94]:
annual_report_info.head(20)

,id,ANCHEYEAR,STATE,FUNDAM,MEMNUM,FARNUM,ANNNEWMEMNUM,ANNREDMEMNUM,EMPNUM,EMPNUMSIGN,...,DISPERNUM,UNENUM,COLEMPLNUM,RETEMPLNUM,DISEMPLNUM,UNEEMPLNUM,WEBSITSIGN,FORINVESTSIGN,STOCKTRANSIGN,PUBSTATE
0,9c7fa510616a683058ce97d0bc768a621cd85ab1e87da2a3,2017.0,2.0,5.0,NaN,NaN,NaN,NaN,10.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,NaN,NaN,3.0
1,9c7fa510616a683058ce97d0bc768a621cd85ab1e87da2a3,2018.0,2.0,2.0,NaN,NaN,NaN,NaN,2.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,NaN,NaN,3.0
2,f000950527a6feb63ee1ce82bb22ddd1ab8b8fdffa3b91fb,2017.0,2.0,NaN,NaN,NaN,NaN,NaN,4.0,2.0,...,0.0,0.0,1.0,0.0,0.0,0.0,2.0,2.0,2.0,3.0
3,f000950527a6feb63ee1ce82bb22ddd1ab8b8fdffa3b91fb,2018.0,2.0,NaN,NaN,NaN,NaN,NaN,3.0,2.0,...,0.0,0.0,2.0,0.0,0.0,0.0,2.0,2.0,2.0,3.0
4,9c7fa510616a68309e4badf2a7a3123c0462fb85bf28ef17,2017.0,2.0,5.0,NaN,NaN,NaN,NaN,10.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,NaN,NaN,3.0
5,9c7fa510616a68309e4badf2a7a3123c0462fb85bf28ef17,2018.0,2.0,22.0,NaN,NaN,NaN,NaN,22.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,NaN,NaN,3.0
6,755db3b5c5f74eb48564a8be9d4a9d7038ed96bc2eea645c,2018.0,2.0,2.0,NaN,NaN,NaN,NaN,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,NaN,NaN,3.0
7,e9f7b28ec10e0470287f274dd5a327519e74d2eb9506faad,2016.0,2.0,NaN,NaN,NaN,NaN,NaN,8.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,3.0
8,e9f7b28ec10e0470287f274dd5a327519e74d2eb9506faad,2017.0,2.0,NaN,NaN,NaN,NaN,NaN,8.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,3.0
9,e9f7b28ec10e0470287f274dd5a327519e74d2eb9506faad,2018.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,3.0
10,f000950527a6feb6253f50f16bd8640f3bc1fa52d1fdbe29,2016.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,3.0
11,f000950527a6feb6253f50f16bd8640f3bc1fa52d1fdbe29,2017.0,2.0,NaN,NaN,NaN,NaN,NaN,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,3.0
12,f000950527a6feb6253f50f16bd8640f3bc1fa52d1fdbe29,2018.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,3.0
13,da8691b210adb3f6334a7abb56fbae858620b23304f160b5,2015.0,2.0,30.0,NaN,NaN,NaN,NaN,2.0,NaN,...,0.0,1.0,0.0,0.0,0.0,1.0,2.0,NaN,NaN,3.0
14,da8691b210adb3f6334a7abb56fbae858620b23304f160b5,2016.0,2.0,3.5,NaN,NaN,NaN,NaN,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,NaN,NaN,3.0
15,da8691b210adb3f6334a7abb56fbae858620b23304f160b5,2017.0,2.0,5.0,NaN,NaN,NaN,NaN,3.0,NaN,...,0.0,1.0,0.0,0.0,0.0,2.0,2.0,NaN,NaN,3.0
16,da8691b210adb3f6334a7abb56fbae858620b23304f160b5,2018.0,2.0,6.1,NaN,NaN,NaN,NaN,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,NaN,NaN,3.0
17,47645761dc56bb8c9cf4307e6927e265abd90cc69d8a52f4,2018.0,2.0,NaN,NaN,NaN,NaN,NaN,7.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,3.0
18,755db3b5c5f74eb46a9abdca3e43a99d07c4aacee3d2cb0d,2017.0,2.0,2.0,NaN,NaN,NaN,NaN,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,NaN,NaN,3.0
19,755db3b5c5f74eb46a9abdca3e43a99d07c4aacee3d2cb0d,2018.0,2.0,2.0,NaN,NaN,NaN,NaN,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,NaN,NaN,3.0

In [95]:
annual_report_info.dtypes

id                object
ANCHEYEAR        float64
STATE            float64
FUNDAM           float64
MEMNUM           float64
FARNUM           float64
ANNNEWMEMNUM     float64
ANNREDMEMNUM     float64
EMPNUM           float64
EMPNUMSIGN       float64
BUSSTNAME         object
COLGRANUM        float64
RETSOLNUM        float64
DISPERNUM        float64
UNENUM           float64
COLEMPLNUM       float64
RETEMPLNUM       float64
DISEMPLNUM       float64
UNEEMPLNUM       float64
WEBSITSIGN       float64
FORINVESTSIGN    float64
STOCKTRANSIGN    float64
PUBSTATE         float64
dtype: object

In [96]:
convert2str = ['ANCHEYEAR', 'STATE', 'EMPNUMSIGN', 'WEBSITSIGN', 'FORINVESTSIGN', 'STOCKTRANSIGN', 'PUBSTATE']
for col in convert2str:
    annual_report_info[col].fillna(-1, inplace=True)
    annual_report_info[col] = annual_report_info[col].astype('int')
    annual_report_info[col] = annual_report_info[col].astype('str')

In [97]:
drop_list = ['MEMNUM', 'FARNUM', 'ANNNEWMEMNUM', 'ANNREDMEMNUM']
for col in drop_list:
    del annual_report_info[col]

In [98]:
convert2int = ['EMPNUM', 'COLGRANUM', 'RETSOLNUM', 'DISPERNUM', 'UNENUM', 'COLEMPLNUM', 'RETEMPLNUM', 'DISEMPLNUM', 'UNEEMPLNUM']
for col in convert2int:
    annual_report_info[col].fillna(0, inplace=True)
    annual_report_info[col] = annual_report_info[col].astype('int')

In [99]:
fill_0 = ['FUNDAM']
for col in fill_0:
    annual_report_info[col].fillna(0, inplace=True)

In [100]:
fill_1 = ['BUSSTNAME']
for col in fill_1:
    annual_report_info[col].fillna(-1, inplace=True)

In [101]:
for index, i in enumerate(list(set(annual_report_info['BUSSTNAME'].tolist()))):
    if i != -1:
        annual_report_info.BUSSTNAME[annual_report_info['BUSSTNAME'] == i] = index + 1

In [102]:
annual_report_info.head()

,id,ANCHEYEAR,STATE,FUNDAM,EMPNUM,EMPNUMSIGN,BUSSTNAME,COLGRANUM,RETSOLNUM,DISPERNUM,UNENUM,COLEMPLNUM,RETEMPLNUM,DISEMPLNUM,UNEEMPLNUM,WEBSITSIGN,FORINVESTSIGN,STOCKTRANSIGN,PUBSTATE
0,9c7fa510616a683058ce97d0bc768a621cd85ab1e87da2a3,2017,2,5.0,10,-1,-1,0,0,0,0,0,0,0,0,2,-1,-1,3
1,9c7fa510616a683058ce97d0bc768a621cd85ab1e87da2a3,2018,2,2.0,2,-1,-1,0,0,0,0,0,0,0,0,2,-1,-1,3
2,f000950527a6feb63ee1ce82bb22ddd1ab8b8fdffa3b91fb,2017,2,0.0,4,2,2,3,0,0,0,1,0,0,0,2,2,2,3
3,f000950527a6feb63ee1ce82bb22ddd1ab8b8fdffa3b91fb,2018,2,0.0,3,2,2,1,0,0,0,2,0,0,0,2,2,2,3
4,9c7fa510616a68309e4badf2a7a3123c0462fb85bf28ef17,2017,2,5.0,10,-1,-1,0,0,0,0,0,0,0,0,2,-1,-1,3

In [104]:
annual_report_info.groupby('id')['ANCHEYEAR'].value_counts()

id                                                ANCHEYEAR
175ebe5f059ec05007223e9af0a48b885f4cbfa833d93eed  2015         1
                                                  2016         1
                                                  2017         1
                                                  2018         1
175ebe5f059ec05036d901021be6da41057ae3ee1fe6b8bb  2015         1
                                                              ..
f1c1045b13d18329ff3fc0c5b0bb11919c9e966a0b0c0781  2018         1
f1c1045b13d18329ff712679aeb2de2622ebd54670ae90d3  2018         1
f1c1045b13d18329fff6b6c261a696a54cc111b991a55a72  2016         1
                                                  2017         1
                                                  2018         1
Name: ANCHEYEAR, Length: 22430, dtype: int64

In [106]:
annual_report_info[annual_report_info['id'].isin(['175ebe5f059ec05007223e9af0a48b885f4cbfa833d93eed'])]

,id,ANCHEYEAR,STATE,FUNDAM,EMPNUM,EMPNUMSIGN,BUSSTNAME,COLGRANUM,RETSOLNUM,DISPERNUM,UNENUM,COLEMPLNUM,RETEMPLNUM,DISEMPLNUM,UNEEMPLNUM,WEBSITSIGN,FORINVESTSIGN,STOCKTRANSIGN,PUBSTATE
5160,175ebe5f059ec05007223e9af0a48b885f4cbfa833d93eed,2017,2,0.0,10,2,2,0,0,0,0,0,0,0,0,2,2,1,3
5161,175ebe5f059ec05007223e9af0a48b885f4cbfa833d93eed,2018,2,0.0,10,2,2,0,0,0,0,0,0,0,0,2,2,2,3
5162,175ebe5f059ec05007223e9af0a48b885f4cbfa833d93eed,2016,2,0.0,18,2,2,0,0,0,0,0,0,0,0,2,2,2,3
5163,175ebe5f059ec05007223e9af0a48b885f4cbfa833d93eed,2015,2,0.0,27,2,2,0,0,0,0,0,0,0,0,2,2,2,2

In [112]:
# 先以id为主键排序，并且根据ANCHEYEAR排序
# 连续变量取平均 离散变量取最新
annual_report_info = annual_report_info.sort_values('ANCHEYEAR', ascending=True)

In [114]:
annual_report_info.columns

Index(['id', 'ANCHEYEAR', 'STATE', 'FUNDAM', 'EMPNUM', 'EMPNUMSIGN',
       'BUSSTNAME', 'COLGRANUM', 'RETSOLNUM', 'DISPERNUM', 'UNENUM',
       'COLEMPLNUM', 'RETEMPLNUM', 'DISEMPLNUM', 'UNEEMPLNUM', 'WEBSITSIGN',
       'FORINVESTSIGN', 'STOCKTRANSIGN', 'PUBSTATE'],
      dtype='object')

In [115]:
annual_report_info.dtypes

id                object
ANCHEYEAR         object
STATE             object
FUNDAM           float64
EMPNUM             int32
EMPNUMSIGN        object
BUSSTNAME         object
COLGRANUM          int32
RETSOLNUM          int32
DISPERNUM          int32
UNENUM             int32
COLEMPLNUM         int32
RETEMPLNUM         int32
DISEMPLNUM         int32
UNEEMPLNUM         int32
WEBSITSIGN        object
FORINVESTSIGN     object
STOCKTRANSIGN     object
PUBSTATE          object
dtype: object

In [133]:
num_col = ['id', 'FUNDAM', 'EMPNUM', 'COLGRANUM', 'RETSOLNUM', 'DISPERNUM', 'UNENUM', 'COLEMPLNUM', 'RETEMPLNUM', 'DISEMPLNUM', 'UNEEMPLNUM']
cata_col = ['id', 'STATE', 'EMPNUMSIGN', 'BUSSTNAME', 'WEBSITSIGN', 'FORINVESTSIGN', 'STOCKTRANSIGN', 'PUBSTATE']
annual_report_info_num = annual_report_info[num_col]
annual_report_info_cata = annual_report_info[cata_col]

In [134]:
annual_report_info_num_mean = pd.DataFrame(annual_report_info_num.groupby('id').mean()).reset_index()

In [135]:
annual_report_info_num_mean

,id,FUNDAM,EMPNUM,COLGRANUM,RETSOLNUM,DISPERNUM,UNENUM,COLEMPLNUM,RETEMPLNUM,DISEMPLNUM,UNEEMPLNUM
0,175ebe5f059ec05007223e9af0a48b885f4cbfa833d93eed,0.000000,16.250000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000
1,175ebe5f059ec05036d901021be6da41057ae3ee1fe6b8bb,0.000000,19.000000,2.500000,0.0,0.0,0.000000,12.000000,0.0,0.0,0.000000
2,175ebe5f059ec050efe07058fc35890a2b8858a6795a2e24,0.000000,32.666667,1.333333,0.0,0.0,0.000000,9.666667,0.0,0.0,8.000000
3,216bd2aaf4d0792406c041069b786b3bcb5baa4cf80d5987,0.000000,4.000000,2.000000,0.0,0.0,0.000000,2.000000,0.0,0.0,0.000000
4,216bd2aaf4d079240c2b8f7bbf3177618ad289f21af0221e,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
8932,f1c1045b13d18329ff27ab52ea9416ef1edff1f3e121cc83,9.000000,1.666667,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000
8933,f1c1045b13d18329ff3e1a9e01037a061fab2d1ae99d6cea,10.000000,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.000000
8934,f1c1045b13d18329ff3fc0c5b0bb11919c9e966a0b0c0781,20.000000,2.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000
8935,f1c1045b13d18329ff712679aeb2de2622ebd54670ae90d3,4.700000,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000
8936,f1c1045b13d18329fff6b6c261a696a54cc111b991a55a72,5.933333,2.666667,0.000000,0.0,0.0,0.333333,0.000000,0.0,0.0,1.666667

In [136]:
annual_report_info_cata.drop_duplicates('id', keep='last', inplace=True)

In [137]:
annual_report_info_cata

,id,STATE,EMPNUMSIGN,BUSSTNAME,WEBSITSIGN,FORINVESTSIGN,STOCKTRANSIGN,PUBSTATE
14942,47e3664e12f3ce748ec9615d96fe2efef690fac1c1038f6f,2,2,2,2,2,2,3
3538,f000950527a6feb6ce8fa4c72e0767a64089b20a703eedfb,2,2,2,2,2,2,3
14931,47645761dc56bb8c954dd5f8db6ae4ae596f1f26d971fc4a,2,2,2,2,2,2,3
19251,d8071a739aa75a3be19559686bdd5331851a439baad1571c,2,1,1,2,2,2,2
14902,d8071a739aa75a3b81ee34f560edc8535565ec22e123fe08,2,2,1,2,2,-1,3
...,...,...,...,...,...,...,...,...
15695,516ab81418ed215d633d4122df8170e20468440e1c50938d,2,2,2,2,2,2,3
7247,755db3b5c5f74eb405416739487558d5e37e9b61d8fc2466,2,-1,-1,2,-1,-1,3
7246,beb4aaaa89e0a0ae15b6b24963d195868cc2e09d68fd139b,2,-1,-1,2,-1,-1,3
15403,8f19388cfd6e2b9c908c2afac599a89f2cf8743005df282f,2,-1,-1,2,-1,-1,3
22549,516ab81418ed215dcbbf0614a7b929e691f8eed153d7bb31,2,2,1,2,2,2,3